<% if object.images.attached? %>

    <div data-controller="image-table">
        <table class="image-table sortable-table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody data-controller="sortable" data-sortable-field-value="position">

            <% object.ordered_images.each_with_index do |img, index| %>
                <tr data-attachment-id="<%= img.id %>">
                    <td class="drag-handle">
                        <i class="bi bi-grip-vertical"></i>
                        <input type="hidden"
                               name="image_positions[<%= img.id %>]"
                               value="<%= index + 1 %>"
                               data-field="position">
                    </td>
                    <td>
                        <div data-imgid="<%= img.id %>" class="image-cell">

                            <%# make sure this is an image type that active storage knows how to transform%>
                            <% if img.variable? %>
                                <%= image_tag img.variant(resize: "100x100") %>
                            <% else %>
                                <%= image_tag img, height: "100px" %>
                            <% end %>

                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-link"
                                data-action="click->image-table#removeImage"
                                data-attachment-id="<%= img.id %>">
                            Remove
                        </button>
                    </td>
                </tr>
            <% end %>

            </tbody>

        </table>

        <%# Container for hidden fields tracking deleted images %>
        <div data-image-table-target="deletions"></div>
    </div>

<% end %>

<br/>

<%= form.file_field :images, multiple: true, accept: "image/*" %>
