<% images = object.ordered_images.to_a %>
<div class="image-container">

  <div>

    <a class="image-gallery images" href="<%= polymorphic_url(images.first) %>">

    <div class="<%= images.length > 1 ? "image-box multiple" : "image-box single" %>">
        <div>
          <%# make sure this is an image type that active storage knows how to transform %>
          <% if images.first.variable? %>
            <%= image_tag images.first.variant(resize: "300x300") %>
          <% else %>
            <%= image_tag images.first, height: "300px" %>
          <% end %>
        </div>
    </div>

    </a>

    <br/>

    <% if images.length > 1 %>
      <div style="text-align: center; overflow: hidden">
        <small class="subsidiary-info" >Click to see <%= images.length %> images in gallery</small>
      </div>
    <% end %>

    <% if images.length > 1 %>

      <div style="display: none">

        <% images.drop(1).each do |img| %>
          <a class="image-gallery images" href="<%= polymorphic_url(img) %>">
            <%= image_tag img, style: "width: 300px" %>
          </a>
        <% end %>

      </div>

    <% end %>

  </div>

</div>