<div class="main-page">

  <div class="homepage-heading">
    <h1>The Asking Tree</h1>
    <p>A Robyn Hitchcock Catalog </p>
  </div>
    
  <%= form_tag('/robyn/index', :method => 'GET', :class => 'main-search', :id => 'main-search') do %>

    <div class="search-block">
    <%= text_field_tag :search_value, params['search_value'],
                       :class => 'typeahead',
                       :placeholder => 'Search Everything' %>
    </div>

  <% end %>

  <!-- omnisearch results -->
  <% if params['search_value'].present? %>

    <% if [@has_songs, @has_compositions, @has_gigs, @has_venues].any? %>

      <div class="accordion omnisearch-tables">

        <!-- gigs -->
        <% if @has_gigs %>
          <div class="accordion-item">
            <h3 class="accordion-header">
              <button class="accordion-button omnisearch-accordion-item" type="button" data-bs-toggle="collapse" data-bs-target="#gigsCollapse" aria-expanded="true" aria-controls="gigsCollapse">
                <strong>Gigs</strong>
              </button>
            </h3>
            <div id="gigsCollapse" class="accordion-collapse collapse show">
              <div class="accordion-body">
                <%= turbo_frame_tag "gigs_frame", src: robyn_omnisearch_gigs_path(search_value: params[:search_value]) do %>
                  Loading gigs...
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <!-- songs -->
        <% if @has_songs %>
          <div class="accordion-item">
            <h3 class="accordion-header">
              <button class="accordion-button omnisearch-accordion-item" type="button" data-bs-toggle="collapse" data-bs-target="#songsCollapse" aria-expanded="true" aria-controls="songsCollapse">
                <strong>Songs</strong>
              </button>
            </h3>
            <div id="songsCollapse" class="accordion-collapse collapse show">
              <div class="accordion-body">
                <%= turbo_frame_tag "songs_frame", src: robyn_omnisearch_songs_path(search_value: params[:search_value]) do %>
                  Loading songs...
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <!-- albums -->
        <% if @has_compositions %>
          <div class="accordion-item">
            <h3 class="accordion-header">
              <button class="accordion-button omnisearch-accordion-item" type="button" data-bs-toggle="collapse" data-bs-target="#releasesCollapse" aria-expanded="true" aria-controls="releasesCollapse">
                <strong>Releases</strong>
              </button>
            </h3>
            <div id="releasesCollapse" class="accordion-collapse collapse show">
              <div class="accordion-body">
                <%= turbo_frame_tag "compositions_frame", src: robyn_omnisearch_compositions_path(search_value: params[:search_value]) do %>
                  Loading releases...
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <!-- venues -->
        <% if @has_venues %>
          <div class="accordion-item">
            <h3 class="accordion-header">
              <button class="accordion-button omnisearch-accordion-item" type="button" data-bs-toggle="collapse" data-bs-target="#venuesCollapse" aria-expanded="true" aria-controls="venuesCollapse">
                <strong>Venues</strong>
              </button>
            </h3>
            <div id="venuesCollapse" class="accordion-collapse collapse show">
              <div class="accordion-body">
                <%= turbo_frame_tag "venues_frame", src: robyn_omnisearch_venues_path(search_value: params[:search_value]) do %>
                  Loading venues...
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

      </div>

    <% else %>
      <%= render partial: '/robyn/nothing_found' %>      
    <% end %>

  <%# no active search %>
  <% else %>

    <%

      # random day requested?
      if request.query_parameters["random_otd"].present? then
        today = Date.today - (rand * (40 * 365))
        today_gigs = Gig.quick_query_gigs_on_this_day(today.month, today.day, false)

      # specific gig requested?
      elsif request.query_parameters["gig_id_otd"].present?
        today_gigs = [Gig.find(request.query_parameters["gig_id_otd"])]
        today = today_gigs.first.GigDate

      # default to today
      else
        today = Date.today
        today_gigs = Gig.quick_query_gigs_on_this_day(today.month, today.day)
      end

    %>

    <% if today_gigs.present? %>

      <% selected_gig = today_gigs[rand(today_gigs.length)] %>

      <div class="quick-queries">

        <div>
          <p class="header text-muted">
            <a href="<%= gig_url(selected_gig) %>">On this Day - <%= today.strftime('%B %e') %></a>
          </p>
        </div>

        <div class="blurb">

          <% if selected_gig.images.attached? %>
            <% first_image = selected_gig.ordered_images.first %>
            <div class="gig-image">
              <a class="image-gallery images" href="<%= polymorphic_url(first_image) %>">
                <% if first_image.variable? %>
                  <%= image_tag first_image.variant(resize: "200x200") %>
                <% else %>
                  <%= image_tag first_image, height: "200px" %>
                <% end %>
              </a>
            </div>
          <% end %>

          <div>
            <%= on_this_day_blurb(selected_gig) %>
          </div>

        </div>

        <div class="footer">
          <%= on_this_day_footer(selected_gig) %>
        </div>

      </div>

    <% else %>

      <% quick_queries = get_random_quick_queries([Gig, Song, Composition]) %>

      <%= render partial: '/robyn/quick_queries', locals: {quick_queries: quick_queries} %>

    <% end %>

    <!-- on that day modal -->
    <div class="modal fade" id="on-this-day-modal" tabindex="-1" aria-labelledby="onThisDayModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <%= form_tag('/gigs/on_this_day', :method => 'GET') do %>
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="on-this-day-modal">On That Day</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Choose a month and day</p>
                <%= select_month params['on_this_day_month'] %>
                <%= select_day params['on_this_day_day'] %>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Show</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="homepage-blurb">
      <p>
        Brought to you by Robyn Hitchcock fans since 1994. <a href="/about">Learn More</a>.
      </p>
    </div>

  <% end %>

</div>
