<div class="main-page">

  <%= form_tag('/robyn/index', :method => 'GET', :class => 'main-search', :id => 'main-search') do %>

    <div class="search-block">
    <%= text_field_tag :search_value, params['search_value'], 
                       :class => 'typeahead', 
                       :placeholder => 'Search Everything' %>
    </div>
    
  <% end %>

  <!-- omnisearch results -->
  <% if [@songs, @compositions, @gigs, @venues].any? { |a| not a.nil? } %>

    <% if [@songs, @compositions, @gigs, @venues].all? { |a| a.empty? } %> 

      <%= render partial: '/robyn/nothing_found' %>

    <% else %>

      <!-- gigs -->
      <% if @gigs.present? %>
        <h3 class="main-header">Gigs</h3>
        <%= render partial: '/gigs/gig_list', locals: { gigs: @gigs, table_id: "gig-omni", suppress_header: false, use_paging: true, page_length: 20 } %>
      <% end %>

      <!-- songs -->
      <% if @songs.present? %>
        <h3 class="main-header">Songs</h3>
        <%= render partial: '/songs/song_list', locals: { songs: @songs, table_id: "song-omni", use_paging: true, page_length: 20 } %>
      <% end %>

      <!-- albums -->
      <% if @compositions.present? %>
        <h3 class="main-header">Releases</h3>
        <%= render partial: '/compositions/release_list', locals: { albums: @compositions, table_id: "album-omni", suppress_header: false, use_paging: true, page_length: 20 } %>
      <% end %>

      <!-- venues -->
      <% if @venues.present? %>
        <h3 class="main-header">Venues</h3>
        <%= render partial: '/venues/venue_list', locals: { venues: @venues, table_id: "venue-omni", suppress_header: false, use_paging: true, page_length: 20 } %>
      <% end %>

    <% end %>

  <% else %>
  

    <% 

      today = request.query_parameters["random_otd"].present? ? Date.today - (rand * (40 * 365)) : Date.today
      today_gigs = Gig.quick_query_gigs_on_this_day(today, false)
    
    %>

    <% if today_gigs.present? %>

      <div class="quick-queries">

        <p class="header text-muted">On this Day - <%= today.strftime('%B %e') %></p>
        
        <%= on_this_day_blurb(today_gigs) %>

      </div>

    <% else %>

      <% quick_queries = get_random_quick_queries([Gig, Song, Composition]) %>

      <%= render partial: '/robyn/quick_queries', locals: {quick_queries: quick_queries} %>

    <% end %>

    <!-- on that day modal -->
    <div class="modal fade" id="on-this-day-modal" tabindex="-1" aria-labelledby="onThisDayModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <%= form_tag('/gigs/on_this_day', :method => 'GET') do %>
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="on-this-day-modal">On That Day</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Choose a month and day</p>
                <%= select_month params['on_this_day_month'] %>
                <%= select_day params['on_this_day_day'] %>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Show</button>
            </div>
          <% end %> 
        </div>
      </div>
    </div>

  <% end %>

</div>