<% for comp in albums %>
  <tr class="clickable-row">
    <td class="main-column">
      <a href="<%= composition_path(comp) %>" class="row-link" data-turbo-frame="_top"><%= comp.Title %></a>
    </td>
    <td> <%= comp.Artist %> </td>
    <td> <%= comp.Type %> </td>
    <td> <%= comp.Year.to_i %> </td>

    <% if can? :manage, Composition %>
      <td class="actions">
        <a href="<%=composition_path(comp)%>/edit" data-turbo-frame="_top">Edit</a> &nbsp;
        <%= link_to("Delete", composition_path(comp), method: :delete, data: { confirm: "Are you sure you want to delete the album #{comp.Title}?" }) %>
      </td>
    <% end %>

  </tr>
<% end %>