<!-- Compositionss#show -->
<!-- Find me in app/views/compositions/show.html.erb -->

<!-- <%= link_to "Back", controller: 'robyn' %> -->

<div class="albums-page robyn-page">

  <div class="row" style="margin-bottom: 0px">

    <div class="col-sm-10">
      <h2><%= @comp.Title %></h2>
    </div>

    <% if can? :manage, Composition %>

      <div class="col-sm-2">
        <%= form_tag(edit_composition_path, :method => 'GET') do %>
          <%= submit_tag "Edit Release", :name => nil %>
        <%end%>

      </div>

    <% end %>

  </div>

  <!-- images: <%= @associated_images.to_s =%> -->

  <% if @comp.images.attached? %>

    <%= render :partial => 'robyn/image_section', :locals => { object: @comp } %>

  <% elsif @associated_images.length > 0 %>

    <div class="image-container">

      <div>

        <a class="album-art image-gallery" href="/<%= @associated_images.first.to_s %>">
          <img src="/<%= @associated_images.first.to_s %>"/>
        </a>

        <% if @associated_images.length > 1 %>
          <div style="display: none">

            <% for img_index in 1...@associated_images.length %>
            <a class="album-art image-gallery" href="/<%= @associated_images[img_index].to_s %>">
              <img src="/<%= @associated_images[img_index].to_s %>" />
            </a>
            <% end %>

          </div>  

        <% end %>

      </div>

    </div>

  <% end %>

  <div>

    <div>

        <h3 class="section-header">Details</h3>

        <%= render partial: 'release_block', locals: {comp: @comp} %>

    </div>

    <% if @comp.Comments %>
      <h3 class="section-header">Comments</h3>

      <div>
        <%= simple_format(@comp.Comments.html_safe) %>
      </div>

  <% end %>



    <% if @comp.get_tracklist.present? %>

      <div class="song-list-section">

        <h3 class="section-header">Tracks</h3>
        <%= render :partial => 'release_track_song', :locals => {:track_list => @comp.get_tracklist} %>

      </div>

    <% end %>

    <% if @comp.get_tracklist_bonus.present? %>

      <div class="song-list-section">

        <div class="additional-songs">Additional Reissue Tracks</div>
        <%= render :partial => 'release_track_song', :locals => {:track_list => @comp.get_tracklist_bonus} %>

      </div>

    <% end %>

  <div>


</div>

<%= javascript_include_tag "compositions", "data-turbo-track": "reload", defer: true %>