<% for venue in venues %>
  <tr class="clickable-row">
    <td class="main-column">
      <a href="<%= venue_path(venue) %>" class="row-link" data-turbo-frame="_top"><%= venue.Name %></a>
    </td>
    <td>
      <%= venue.City%>
    </td>
    <td>
      <%= venue.SubCity%>
    </td>
    <td>
      <%= venue.State%>
    </td>
    <td>
      <%= venue.Country%>
    </td>
    <td>
      <%= venue.gig_count%>
    </td>

    <% if can? :manage, Venue %>
      <td> 
        <a href="<%=venue_path(venue)%>/edit" data-turbo-frame="_top">Edit</a> &nbsp; &nbsp;
        <%= link_to("Delete", venue_path(venue), method: :delete, data: { confirm: "Are you sure you want to delete #{venue.Name}" }) %>
      </td>
    <% end %>
    
  </tr>
<% end %>