<%= form_for(@venue) do |f| %>

<div class="item-form">
        
    <div class="row">
        
        <div class="col-sm-12">
            <%= f.label :Name, "Name" %> <span class="required">*</span>
            <%= f.text_field :Name, :size => 48, :class => "form-control" %>
        </div>
    
    </div>

    <div class="row">

        <div class="col-sm-6">
            <%= f.label :street_address1, "Street Address 1" %>
            <%= f.text_field :street_address1, :class => "form-control"  %>
        </div>
    
        <div class="col-sm-6">
            <%= f.label :street_address2, "Street Address 2" %>
            <%= f.text_field :street_address2, :class => "form-control"  %>
        </div>
        
    </div>    

    <div class="row">

        <div class="col-sm-6">
            <%= f.label :City %> <span class="required">*</span>
            <%= f.text_field :City, :size => 50, :class => "form-control"  %>
        </div>
    
        <div class="col-sm-6">
            <%= f.label :SubCity %>
            <%= f.text_field :SubCity, :size => 50, :class => "form-control"  %>
        </div>
    
    </div>    

    <div class="row">

        <div class="col-sm-6">
            <%= f.label :State %>
            <%= f.text_field :State, :size => 50, :class => "form-control"  %>
        </div>
    
        <div class="col-sm-6">
            <%= f.label :Country %> <span class="required">*</span>
            <%= f.text_field :Country, :size => 50, :class => "form-control"  %>
        </div>
    
    </div>

    <div class="row">

        <div class="col-sm-6">
            <%= f.label :latitude, "Latitude" %>
            <%= f.text_field :latitude, :class => "form-control"  %>
        </div>
    
        <div class="col-sm-6">
            <%= f.label :longitude, "Longitude" %>
            <%= f.text_field :longitude, :class => "form-control"  %>
        </div>
        
    </div>    

    <div class="row">

        <div class="col-sm-12">
            <%= f.label :Notes %>
            <%= f.text_area :Notes, :cols => 60, :rows => 5, :class => "form-control"  %>
        </div>

    </div>

    <br>

    <!-- image attachments -->
    <div class="row">

        <div class="col-sm-12">

            <h3>Images</h3>

            <%= render partial: '/robyn/image_table', :locals => {:object => @venue, :form => f} %>

        </div>

    </div>

    <%= f.submit "Save", class: "btn btn-large btn-primary" %>
    
</div>

<% end %>