<%= javascript_include_tag "venues", "data-turbo-track": "reload", defer: false %>

<div class="robyn-page">

<div class="row" style="margin-bottom: 0px">
  <div class="col-sm-10">
    <h2 class="main-header">
    
      <%= @venue.Name %>

      <small>
        <span class="inpage-navigation">
          <% if @venue.get_notes.present? %> <span><a href="#notes">Notes</a></span> <% end %>
          <% if @venue.gigs.present? %> <span><a href="#gigs">Gigs</a></span> <% end %>
        </span>
      </small>      
      
    </h2>

  </div>

  <% if can? :manage, Venue %>

    <div class="col-sm-2">
      <%= form_tag(edit_venue_path, :method => 'GET') do %>
        <%= submit_tag "Edit Venue", :name => nil %>
      <%end%>
    </div>

  <% end %>

</div>

<% if @venue.latitude.present? %>

  <div class="image-container">
    <div id="map" class="venue-map"></div>

    <%= javascript_tag type: 'application/javascript' do -%>
      loadVenueMap(<%= raw(@venue.to_json) %>);
    <% end -%>
  </div>

<% end %>

  <div>

    <h3 class="section-header">Details</h4>

    <%= build_address(@venue) %>

    <br/> <br/>

    Robyn has played this venue <%= pluralize(@venue.gigs.length, "time") %>.
      
  </div>

<% if @venue.get_notes.present? %>

  <div class="content-section notes-section">

    <!-- notes-->
    <a class="anchor" name="notes"></a>
    <h3 class="section-header"> Notes </h4>

    <div>
      <%= @venue.get_notes.html_safe %>
    </div>

  </div>

<% end %>


<!-- gigs at this venue -->
<% if @venue.gigs.present? %>

  <div class="content-section gig-section">

    <a class="anchor" name="gigs"></a>
    <h3 class="section-header"> Gigs </h4>

    <%= render partial: '/gigs/gig_list', locals: {gigs: @venue.gigs, table_id: "gig-venue", use_paging: true, show_search: false} %>

  </div>

</div>

<% end %>

</div>

</div>

</div>