<% suppress_header = nil unless local_assigns.has_key? :suppress_header %>
<% use_pagination = false unless local_assigns.has_key? :use_pagination %>
<% show_search = false unless local_assigns.has_key? :show_search %>
<% page_length = 10 unless local_assigns.has_key? :page_length %>
<% table_id = "" unless local_assigns.has_key? :table_id %>


<h3 class="section-header">Gigs</h3>

<table class="table table-striped table-hover main-search-list"
       data-id="<%= table_id %>"
       data-table-name="Gigs"
       data-controller="row-navigation <%= 'infinite-scroll' unless use_pagination %>"
       data-infinite-scroll-url-value="/gigs/infinite_scroll"
       data-infinite-scroll-current-page-value="<%= defined?(@pagy) && @pagy ? @pagy.page : 1 %>"
       data-infinite-scroll-has-next-page-value="<%= defined?(@pagy) && @pagy ? @pagy.next.present? : false %>"
       data-infinite-scroll-current-sort-value="<%= params[:sort] %>"
       data-infinite-scroll-current-direction-value="<%= params[:direction] %>"
       data-infinite-scroll-search-type-value="<%= params[:search_type] %>"
       data-infinite-scroll-search-value-value="<%= params[:search_value] %>"
       data-infinite-scroll-query-type-value="<%= params[:query_id].present? ? 'quick_query' : 'search' %>"
       data-infinite-scroll-query-id-value="<%= params[:query_id] %>"
       data-infinite-scroll-query-attribute-value="<%= params[:query_attribute] %>"
       data-infinite-scroll-advanced-query-params-value="<%= {
         gig_date: params[:gig_date],
         gig_range: params[:gig_range], 
         gig_range_type: params[:gig_range_type],
         gig_type: params[:gig_type]
       }.compact.to_json %>"
       style="table-layout: fixed;">

  <% if not suppress_header %>
    <thead>
    <tr>
      <th style="width: 25%;"><%= sortable_column_header('venue', 'Venue', params[:sort], params[:direction]) %></th>
      <th style="width: 15%;"><%= sortable_column_header('billed_as', 'Billed As', params[:sort], params[:direction]) %></th>
      <th style="width: 15%;"><%= sortable_column_header('city', 'City', params[:sort], params[:direction]) %></th>
      <th style="width: 10%;"><%= sortable_column_header('state', 'State', params[:sort], params[:direction]) %></th>
      <th style="width: 10%;"><%= sortable_column_header('country', 'Country', params[:sort], params[:direction]) %></th>
      <th style="width: 15%;"><%= sortable_column_header('date', 'Date', params[:sort], params[:direction]) %></th>
      <% if can? :manage, Gig %>
        <th style="width: 10%;">Actions</th>
      <% end %>
    </tr>
    </thead>
  <% end %>
  <tbody data-infinite-scroll-target="tbody">
  <%= render 'gig_rows', gigs: gigs %>
  </tbody>
</table>

<% if use_pagination and defined?(@pagy) and @pagy and @pagy.pages > 1 %>
  <%= render 'shared/pagination', pagy: @pagy %>
<% end %>
