<table id="<%=id%>">

    <thead>
        <tr>
            <th>Order</th>
            <th>Title</th>
            <th>Media ID</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
    </thead>


    <tbody>

    <% sequenceIndex = 1 %>

    <%= f.fields_for :gigmedia, gigmedia do |gigmedium_fields| %>
        <tr data-row=<%= sequenceIndex %>>
            <td> <%= gigmedium_fields.text_field :Chrono, { class: "form-control", size: 3, value: sequenceIndex }%></td>
            <td> <%= gigmedium_fields.text_field :title, { class: "form-control" }%></td>
            <td> <%= gigmedium_fields.text_field :mediaid, { class: "form-control" }%></td>
            <td> <%= gigmedium_fields.select(
                :mediatype, [
                    ["YouTube", GigMedium::MEDIA_TYPE['YouTube'].to_s], 
                    ["Archive.org Video", GigMedium::MEDIA_TYPE['ArchiveOrgVideo'].to_s],
                    ["Archive.org Audio", GigMedium::MEDIA_TYPE['ArchiveOrgAudio'].to_s],
                    ["Archive.org Playlist", GigMedium::MEDIA_TYPE['ArchiveOrgPlaylist'].to_s],
                    ["Vimeo", GigMedium::MEDIA_TYPE['Vimeo'].to_s] ,
                    ["Soundcloud", GigMedium::MEDIA_TYPE['Soundcloud'].to_s] 
                ], 
                {}, 
                { class: "form-control song-selector" })%> 
            </td>
            <td> 
                <Button type="button" class="btn btn-link" 
                        data-action="click->gig#removeRow"
                        data-gig-table-id-param="<%=id%>"
                        data-gig-row-id-param="<%=sequenceIndex%>">
                    Remove
                </Button>
            </td>

        </tr>

        <% sequenceIndex+=1 %>

    <% end %>

    </tbody>

</table>

<br/>

<button type="button" class="btn btn-primary" 
        data-action="click->gig#addMedia"
        data-gig-table-id-param="<%=id%>">Add Media</button>
