<% for gig in gigs %>
  <tr class="clickable-row">
    <td class="main-column">
      <a href="<%= gig_path(gig) %>" class="row-link" data-turbo-frame="_top"><%= gig.Venue %><%= " (Cancelled)" if gig.cancelled %></a>
      <% if gig.Favorite %>
        <a href="<%= gig_path(gig) %>" data-turbo-frame="_top">
          <span title="Favorite" class="bi-star-fill" aria-hidden="true" style="color: gold; text-shadow: 0 0 3px #000, 0 0 3px #000;"></span>
        </a>
      <% end %>
    </td>
    <td> <%= gig.BilledAs.present? ? gig.BilledAs : 'Robyn Hitchcock' %> </td>
    <td> <%= gig.venue.nil? ? nil : gig.venue.City %> </td>
    <td> <%= gig.venue.nil? || gig.venue.State.nil? ? nil : gig.venue.State %> </td>
    <td> <%= gig.venue.nil? ? nil : gig.venue.Country %> </td>
    <td data-sort="<%= gig.GigDate.to_date.to_formatted_s(:number)%>">
      <%= gig.GigDate.to_date.strftime('%m/%d/%Y') %>
    </td>

    <% if can? :manage, Gig %>
      <td class="actions">
        <a href="<%=gig_path(gig)%>/edit" data-turbo-frame="_top">Edit</a> &nbsp;
        <%= link_to("Delete", gig_path(gig), method: :delete, data: { confirm: "Are you sure you want to delete the gig for #{gig.Venue}?" }) %>
      </td>
    <% end %>

  </tr>
<% end %>