<!-- Gigs#show -->
<!-- Find me in app/views/gigs/show.html.erb -->

<!-- <%= link_to "Back", controller: 'robyn' %> -->

<div class="gig-page robyn-page">

<div class="row">
  <div class="col-sm-10">

    <h2>

      <%= @gig.Venue %>

      <small>
        <span class="inpage-navigation">
          <% if @gig.get_set.present? %> <span><a href="#setlist">Set List</a></span> <% end %>
          <% if @gig.ShortNote.present? %> <span><a href="#notes">Notes</a></span> <% end %>
          <% if @gig.get_reviews.present? %> <span><a href="#reviews">Reviews</a></span> <% end %>
          <% if @gig.gigmedia.present? %> <span><a href="#media">Media</a></span> <% end %>
        </span>
      </small>

    </h2>

  </div>

  <% if can? :manage, Gig %>

    <div class="col-sm-2">
      <%= form_tag(edit_gig_path, :method => 'GET') do %>
        <%= submit_tag "Edit Gig", :name => nil %>
      <% end %>

    </div>

  <% end %>

</div>

<% if @gig.images.attached? %>

<%= render :partial => 'robyn/image_section', :locals => { object: @gig } %>

<% end %>

<div>

  <div>

    <h3 class="section-header"> Details </h3>

      <dl class="dl-horizontal">
        <dt>Date</dt>
        <dd><%= @gig.GigDate.to_date.to_formatted_s(:long) %> 
        
          <% if @gig.Circa %> 
            <i>(uncertain)</i>
          <% end %>
        
        </dd>

      </dl>

      <dl class="dl-horizontal">
        <dt>Venue</dt>
        <dd>

          <%= link_to(@gig.Venue, venue_path(@gig.VENUEID)) %> 

          <% if @gig.venue.present? %>
            <span class="subsidiary-info">
              <small><%= "#{@gig.venue.City}, #{@gig.venue.State.present? ? @gig.venue.State : @gig.venue.Country} #{@gig.venue.SubCity.present? ? '(' + @gig.venue.SubCity + ')' : ''}" %> </small>
            </span>
          <% end %>
    
        </dd>

      </dl>

      <dl class="dl-horizontal">
        <dt>Billed As</dt>
        <dd><%= @gig.BilledAs.present? ? @gig.BilledAs : 'Robyn Hitchcock' %> </dd>
      </dl>

      <% if @gig.GigType.present? %>

        <dl class="dl-horizontal">
          <dt>Gig Type</dt>
          <dd><%= @gig.GigType %></dd>
        </dl>

      <% end %>

      <% if @gig.Guests.present? %>

        <dl class="dl-horizontal">
          <dt>Guests</dt>
          <dd><%= @gig.Guests %></dd>
        </dl>

      <% end %>

    </div>

</div>

<% if @gig.ShortNote.present? %>

  <!-- notes about the gig -->
  <div style="margin-top: 30px" class="notes-section">
    
    <a class="anchor" name="notes"></a>
    <h3 class="section-header"> Notes </h3>
    
    <div>
      <%= simple_format(@gig.ShortNote.html_safe) %>
    </div>
  
  </div>

<% end %>

<% if @gig.get_set.present? %>

<div class="song-list-section" style="margin-top: 30px">

  <!-- songs in the set -->
  <a class="anchor" name="setlist"></a>
  <h3 class="section-header"> Set List </h3>

  <%= render :partial => 'gig_setlist_song', :locals => {:gig_set => @gig.get_set} %>


  <% if @gig.get_set_encore.present? %>

    <!-- songs in the encore -->
    <div class="additional-songs"> Encore </div>
    <%= render :partial => 'gig_setlist_song', :locals => {:gig_set => @gig.get_set_encore} %>

  <% end %>

</div>

<% end %>

<% if @gig.gigmedia.present? %>

  <div style="margin-top: 30px">
    
    <a class="anchor" name="media"></a>
    <h3 class="section-header"> Media </h3>

  <% for gig_medium in @gig.gigmedia  %>

    <div class="gig-media">

      <div class="gig-media-title">
        <h5> <%= gig_medium.title %> </h5>
      </div>

      <div class="gig-media-content">
        <% case gig_medium.mediatype
        
          when GigMedium::MEDIA_TYPE["YouTube"] %>
            <lite-youtube id="ytplayer" videoid="<%=gig_medium.mediaid%>"></lite-youtube>
          <% when GigMedium::MEDIA_TYPE["ArchiveOrgVideo"], GigMedium::MEDIA_TYPE["ArchiveOrgPlaylist"]%>
            <iframe src="https://archive.org/embed/<%=gig_medium.mediaid%><%=gig_medium.mediatype === GigMedium::MEDIA_TYPE["ArchiveOrgPlaylist"] ? "?playlist=1&list_height=200"  : ""%>" 
                    height="<%= gig_media_embed_height(gig_medium) %>"
                    width="640" 
                    frameborder="0" 
                    webkitallowfullscreen="true" 
                    mozallowfullscreen="true" 
                    allowfullscreen>
            </iframe>

          <% when GigMedium::MEDIA_TYPE["ArchiveOrgAudio"] %>
            <iframe src="https://archive.org/embed/<%=gig_medium.mediaid%>" 
                    width="500" 
                    height="30" 
                    frameborder="0" 
                    webkitallowfullscreen="true" 
                    mozallowfullscreen="true" 
                    allowfullscreen>
            </iframe>            

          <% when GigMedium::MEDIA_TYPE["Vimeo"]%>
            <iframe src="https://player.vimeo.com/video/<%=gig_medium.mediaid%>" 
                    width="640"
                    height="360" 
                    frameborder="0" 
                    allow="autoplay; fullscreen; picture-in-picture" 
                    allowfullscreen>
            </iframe>

          <% when GigMedium::MEDIA_TYPE["Soundcloud"]%>
            <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%=gig_medium.mediaid%>&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
                    width="640" 
                    height="166"
                    scrolling="no" 
                    frameborder="no" 
                    allow="autoplay" >
            </iframe>
            
        <% end %>
      
      </div>

    </div>

  <% end %>

<% end %>


<% if @gig.get_reviews.present? %>

  <!-- reviews-->
  <div style="margin-top: 30px" class="notes-section">

    <a class="anchor" name="reviews"></a>
    <h3 class="section-header"> Reviews </h3>

    <div>
      <%= @gig.get_reviews.html_safe %>
    </div>

  </div>

<% end %>

</div>

